{% assign type = include.type | default: 'default' %}
{% assign type_class = 'alert-' | append: type %}
{% assign header = include.header | markdownify | remove: '<p>' | remove: '</p>' | strip %}
{% assign body = include.body | markdownify | remove: '<p>' | remove: '</p>' | strip %}

<div class="alert {{ type_class }}">
    {% if type == 'success' %}
    <i class="swepay-icon-check-circle-filled" aria-hidden="true"></i>
    {% endif %}
    {% if type == 'informative' %}
    <i class="swepay-icon-info-circle-filled" aria-hidden="true"></i>
    {% endif %}
    {% if type == 'warning' %}
    <i class="swepay-icon-warning-triangle-filled" aria-hidden="true"></i>
    {% endif %}
    {% if type == 'danger' %}
    <i class="swepay-icon-error-triangle-filled" aria-hidden="true"></i>
    {% endif %}

    {% if body != blank and body != empty and body != nil %}
    {% if header != blank and header != empty and header != nil %}
        <p><b>{{ header }}:</b> {{ body }}</p>
    {% else %}
    <p>{{ body }}</p>
    {% endif %}
    {% endif %}
</div>
