{% assign type = include.type | default: 'default' %}
{% assign type_class = 'alert-' | append: type %}
{% assign icon = include.icon | strip %}
{% assign header = include.header | markdownify | remove: '<p>' | remove: '</p>' | strip %}
{% assign body = include.body | markdownify | remove: '<p>' | remove: '</p>' | strip %}

<div
    class="alert {% if header != blank and header != empty and header != nil %}alert-complex{% endif %} {{ type_class }}">
    {% if header != blank and header != empty and header != nil %}
    <header class="alert-header">
        {% if icon != blank and icon != empty and icon != nil %}
        <i class="material-icons alert-icon">{{ icon }}</i>
        {% endif %}

        {% if header != blank and header != empty and header != nil %}
        <h3>{{ header }}</h3>
        {% endif %}
    </header>
    {% else %}
    {% if icon != blank and icon != empty and icon != nil %}
    <i class="material-icons alert-icon">{{ icon }}</i>
    {% endif %}
    {% endif %}

    {% if body != blank and body != empty and body != nil %}
    {% if header != blank and header != empty and header != nil %}
    <div class="alert-body">
        <p>{{ body }}</p>
    </div>
    {% else %}
    <p>{{ body }}</p>
    {% endif %}
    {% endif %}
</div>
