{%- comment -%}
**Parameters
title(required): Title of the card
image_src: Image source for the card
image_alt_text: Alt text for the image
icon_content: Used to generate content of dx-card-icon
text: Text content of the card
cta_text: Text for the call to action.
use_wide: Used when dx-card-horizontal is needed
open_in_new_tab: Used to open the link in a new tab
to(required): Url to the page to be directed to on click
type: sdk | module - Empty type result in default card styling
{%- endcomment -%}

{% assign image_src = include.image_src %}
{% assign image_alt_text = include.image_alt_text %}
{% assign image_ratio = 'ratio-16-9'%}
{% assign icon_content = include.icon_content %}
{% assign text = include.text %}
{% assign cta_text = include.cta_text %}
{% assign use_wide = include.use_wide | default: false %}
{% assign open_in_new_tab = include.open_in_new_tab | default: false %}
{% assign to = include.to %}

{% if include.type %}
{% assign type = include.type %}
{% assign type_class = 'dx-card-' | append: type %}
{% else %}
{% assign type_class = '' %}
{% endif %}

{% assign card_class = 'cards cards-primary ' | append: type_class | strip %}
{% if use_wide %}
{% assign card_class = card_class | append: ' cards-wide' | strip %}
{% assign image_ratio = '1' %}
{% endif %}
{% if image_src %}
{% assign icon_content = undefined %}
{% endif %}
{% assign target = '_self' %}
{% if open_in_new_tab %}
{% assign target = '_blank' %}
{% endif %}

{% capture card_attributes %}href="{{ to }}"{% endcapture %}

<a {{ card_attributes }} class="{{ card_class }}" target="{{target}}" >
    {% if image_src %}
    <img src="{{image_src}}" alt="{{image_alt_text}}" class="{{image_ratio}}" />
    {% endif %}

    {% if icon_content %}
    <i class="cards-icon {{ icon_content }}" aria-hidden="true"></i>
    {% endif %}

    <span class="h4">{{ include.title }}</span>
    <div class="cards-content">
        {{ text | markdownify }}
    </div>
    <div class="cards-cta">
        {% if cta_text %}
        <span>{{cta_text}}</span>
        {% endif %}

        <span class="arrow"></span>
    </div>
</a>