{%- comment -%}
**Parameters
card_list(required): An array with items having the attributes title(required),
    url(required), description, icon.content(required), icon.outlined, icon.svg.
    Works with site.pages
type: sdk | module - Empty type result in default card styling
col_class(required): Describes what grid column class(es) each card should be wrapped in
{%- endcomment -%}

{% assign cards = include.card_list | default: page.children %}
{% assign col_class = include.col_class | default: 'col-lg-4' %}

<div class="row card-list">
    {% for card in cards %}
        {% assign title = card.title | split: '–' | last %}
        {% assign link_to = card.absolute_path | default: card.url %}

        {% assign card_type = card.card.type | default: card.card_type | default: include.type %}
        {% assign icon_content = card.card.icon.content | default: card.icon.content %}
        {% assign use_wide = card.card.use_wide | default: false %}

        <div class="{{ col_class }}">
            {% include card.html
                title=title
                text=card.description
                cta_text=card.cta_text
                icon_content=icon_content
                to=link_to
                type=card_type
                use_wide=use_wide
            %}
        </div>
    {% endfor %}
</div>
