{%- comment -%}
**Parameters
card_list(required): An array with items having the attributes card_title, 
    title(required), estimated_read, url(required). Works with site.pages
type: sdk | module - Empty type result in default card styling
{%- endcomment -%}

{% assign card_list = include.card_list %}
{% assign type = include.type %}

<div class="card-horizontal-list">
    {% for card in card_list %}
        {% if card.estimated_read %}
            {% assign text = card.estimated_read | append: ' min read' %}    
        {% else %}
            {% assign text =  %}        
        {% endif %}
        {% if card.card_title %}
            {% assign title = card.card_title %}
        {% else %}
            {% assign title = card.title | split: '–' | last %}
        {% endif %}
        {% assign icon_content = '0' | append: forloop.index %}
        {% include card.html title=title
            title_type='h3'
            text=text
            icon_content=icon_content
            horizontal=true
            to=card.url   
            type=type 
        %}
    {% endfor %}
</div>