{%- comment -%}

**About this card
This card offers the table component from Design Guide

**Parameters
title(required): Title of the card
icon_content: Used to generate content of cards-icon
header: Array of objects with table headers
table_content: Array of objects with table content
text: Text content of the card
to(required): Url to the page to be directed to on click
type: sdk | module - Empty type result in default card styling
{%- endcomment -%}

{% capture card_content %}
<span>{{ include.text }}</span>
<table class="table table-plain">
    <thead>
        <tr>
            {% for header in include.header %}
            <th> {% if header.badge_type %}
                <span class="badge badge-{{header.badge_type}}">{{header.table_header}}</span>
                {% else %}
                {{ header.table_header }}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for table_content in include.table_content %}
        <tr>
            <th scope="row">
                {{table_content.label}}
            <td>
                {% if table_content.swedbankPay %}
                <i class="swepay-icon-check-circle-filled" aria-hidden="true"></i>
                {% endif %}
            </td>
            <td>
                {% if table_content.merchantSide %}
                <i class="swepay-icon-check-circle-filled" aria-hidden="true"></i>
                {% endif %}
            </td>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endcapture %}

<div>
    {% include card.html
    cta_text=include.cta_text
    title=include.title
    description=card_content
    use_wide=true
    icon_content=include.icon_content
    url=include.to
    type=include.type
    %}
</div>