{%- comment -%}
**Parameters
title(required): Title of the card
title_type: Determines size of the title
icon_content: Used to generate content of dx-card-icon
icon_outlined: Make icon_content outlined if icon_content is material-icon
icon_svg: Handles value of icon_content as a reference to a svg-file
no_icon: Hides dx-card-icon
text: Text content of the card
horizontal: Used when dx-card-horizontal is needed
to(required): Url to the page to be directed to on click
type: sdk | module - Empty type result in default card styling
{%- endcomment -%}

{% assign title = include.title %}
{% assign title_type = include.title_type | default: 'h4', %}
{% assign icon_content = include.icon_content %}
{% assign icon_outlined = include.icon_outlined | default: false %}
{% assign icon_svg = include.icon_svg | default: false %}
{% assign no_icon = include.no_icon | default: false %}
{% assign text = include.text %}
{% assign horizontal = include.horizontal | default: false %}
{% assign to = include.to %}

{% if include.type %}
    {% assign type = include.type %}
    {% assign type_class = 'dx-card-' | append: type %}
{% else %}
    {% assign type_class = '' %}
{% endif %}

{% unless icon_svg %}
    {% if icon_content contains '/' or icon_content contains '.svg' %}
        {% assign icon_svg = true %}
    {% endif %}
{% endunless %}

{% assign card_class = 'dx-card ' | append: type_class | strip %}
{% if horizontal %}
    {% assign card_class = card_class | append: ' dx-card-horizontal' | strip %}
{% endif %}

<a href="{{ to }}" class="{{ card_class }}">
    <span class="dx-card-icon{% if no_icon %} d-none{% endif %}">
        {% if icon_svg %}
            {% include {{ icon_content }} %}
        {% else %}
            <i class="material-icons{% if icon_outlined %}-outlined{% endif %}">
                {{ icon_content }}
            </i>
        {% endif %}
    </span>
    <span class="dx-card-content">
        <span class="{{ title_type }}">{{ title }}</span>
        <span>{{ text }}</span>
    </span>
    <i class="material-icons">arrow_forward</i>
</a>
