{%- comment -%}
**Parameters
card_list(required): An array with items having the attributes title(required),
    url(required), description, icon.content(required), icon.outlined, icon.svg.
    Works with site.pages
type: sdk | module - Empty type result in default card styling
col_class(required): Describes what grid column class(es) each card should be wrapped in
{%- endcomment -%}

<div class="row card-list">
    {% for card in include.card_list %}
        {% assign title = card.title | split: '–' | last %}
        {% assign link_to = card.extensionless_path | default: card.url %}
        {% assign card_type = card.card_type | default: include.type %}
        {% assign icon_content = card.card.icon.content | default: card.icon.content %}
        {% assign icon_outlined = card.card.icon.outlined | default: card.icon.outlined %}
        {% assign icon_svg = card.card.icon.svg | default: card.icon.svg %}
        {% assign no_icon = card.card.icon.no_icon | default: card.icon.no_icon %}
        {% assign horizontal = card.card.horizontal | default: false %}

        <div class="{{ include.col_class }}">
            {% include card.html
                title=title
                text=card.description
                icon_content=icon_content
                icon_outlined=icon_outlined
                icon_svg=icon_svg
                no_icon=no_icon
                to=link_to
                type=card_type
                horizontal=horizontal
            %}
        </div>
    {% endfor %}
</div>
