{% for child in page.children %}
    {% if child.children && child.children.size > 0 %}
        {% assign title = child.title | default: child.section %}
        {% capture header %}

## {{ title }}
        {% endcapture %}
        {% assign header =  header | markdownify %}
        {% include anchor_headings.html html=header anchorClass='header-anchor' %}
        {% assign col_class = child.card.col_class | default: 'col-lg-4' %}
        {% assign card_type = child.card.type %}
        {% include card-list.html card_list=child.children col_class=col_class type=card_type %}
    {% endif %}
{% endfor %}
