{%- comment -%}
**Parameters
title: Title
header: header content
json: json content
{%- endcomment -%}

<p class="code-view-header">
    {{ include.title}}
    {% if include.json %}
    <button aria-describedby="tooltipCopy" class="code-view-copy tooltip" aria-label="Copy json to clipboard" value='{{include.json}}' onclick='javascript:navigator.clipboard.writeText(this.value)'><i class="at-clipboard small" aria-hidden="true"></i><div role="tooltip">Copy json to clipboard</div></button>
    {% endif %}
</p>
{% if include.header %}
````http
{{include.header}}
````
{% endif %}
{% if include.json %}
````jsonc
{{include.json}}
````
{% endif %}
