<div class="banner-card">
    <div class="front-page-contact-content">
        <div class="row">
            <div class="col-xl-7">
                <h2 id="front-page-contact" class="heading-line heading-line-long">Got questions?</h2>
                <p>
                    Don't hesitate to get in touch with us, we are here to help. You can reach us on either Slack or over the phone!
                </p>
            </div>
            <div class="col-xl-5 d-flex align-items-center justify-content-center flex-column">
                <div class="contact-us-info">
                    Write to us 
                    <br />
                    <a href="https://www.swedbankpay.com/support-ecom" class="contact-form">Contact form</a>
                </div>
                <div class="contact-us-info">Or would you rather call?</div>

                <!-- <button class="btn">Contact us here</button> -->
            </div>
    </div>
</div>