

<div class="front-page-top">
    <div class="front-page-hero">
        <h3>Welcome to the Swedbank Pay</h3>
        <div class="front-page-hero-name">
            {<span>developer portal</span>} 
        </div>
        <p>
            Our developer portal gives you the full tool box for integrating
            our payment instruments and getting started with easy, flexible and
            safe payments on your e-commerce website.
        </p>
    </div>
    <div class="front-page-intro-cards">
        <h2>Start your integration</h2>
        <div class="row cards-container">
            <div class="col-xl-3 col-lg-6">
                {% include card.html title='Checkout'
                    text='With our Checkout you get the pre-built all-in-one
                    payment solution, complete with a checkin interface and
                    payment menu.'
                    icon_content='shopping_cart'
                    icon_outlined=true
                    to='/checkout'
                %}
            </div>
            <div class="col-xl-3 col-lg-6">
                {% include card.html title='Payments'
                    text='Payments gives you a one-by-one integration with more
                    customization for each payment method to build your own
                    payment menu.'
                    icon_content='credit_card'
                    to='/payments'
                %}
            </div>
            <div class="col-xl-3 col-lg-6">
                {% include card.html title='Gift Cards'
                    text='Our Gift Cards API allows your customers to pay with
                    prepaid gift cards issued by Swedbank Pay in your Checkout.'
                    icon_content='card_giftcard'
                    to='/gift-cards'
                %}
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
        </div>
    </div>
</div>