{% assign prev_href = include.prev_href | strip %}
{% assign prev_title = include.prev_title | default: 'Previous' | strip %}
{% assign next_href = include.next_href | strip %}
{% assign next_title = include.next_title | default: 'Next' | strip %}

<nav class="iterator d-flex">
    {% if prev_href != blank and prev_href != empty and prev_href != nil %}
    <a class="mr-auto btn btn-guiding" role="button" rel="prev" href="{{ prev_href }}">
        {{ prev_title }}
    </a>
    {% endif %}

    {% if next_href != blank and next_href != empty and next_href != nil %}
    <a class="ml-auto btn btn-executive" role="button" rel="next" href="{{ next_href }}">
        {{ next_title }}
    </a>
    {% endif %}
</nav>
