<nav class="documentation-nav">
  <div class="nav-group active">
    <div class="nav-heading">
      <i class="material-icons">keyboard_arrow_right</i>
      <span>Folder name</span>
    </div>

    <ul>
      {% assign nav_url = nav.url | relative_url %}
      <li><a {% if page_url == nav_url %} aria-current="page" class="active" {% endif %}
          href="{{ nav_url }}"><span>{{ nav.title }}</span></a></li>
      {% endfor %}
      {% comment %}
      Create nav bellow
      {% endcomment %}
      {% assign pages = site.pages | sort:'menu-order' %}
      {% for node in pages %}
      <li><a {% if page.url == nav_url %} aria-current=" page" class="active" {% endif %}
          href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
      </li>
    </ul>
  </div>
</nav>