{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<nav class="documentation-nav">
  <div class="nav-group active">
    <div class="nav-heading">
      <i class="material-icons">keyboard_arrow_right</i>
      <span>Folder name</span>
    </div>
    <ul>
      {% for node in site.pages %}
      <li><a {% if node.url == nav_url %} aria-current=" page" class="active" {% endif %}
          href='{{node.url}}'>{{node.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>