<div class="tabs" id="tabs-showcase-example">
    <ul>
        <li class="full-checkout">
            <a id="full-checkout">Full Checkout</a>
        </li>
        <li class="payments-only">
            <a id="payments-only">Payments Only</a>
        </li>
    </ul>
</div>

<section>
    <div id="tab1">
        <div class="tab-intro">
            {{ include.tab1_intro | markdownify}}
        </div>
        <div class="tab1-content">
            {{ include.tab1_content | markdownify}}
        </div>
    </div>
    <div id="tab2" class="d-none">
        <div class="tab-intro">
            {{ include.tab2_intro | markdownify}}
        </div>
        <div>
            {{ include.tab2_content | markdownify}}
        </div>
    </div>
</section>

<script>
$( "#full-checkout" ).click(function() {
$( "#tab2" ).addClass( "d-none" )
$( "#tab1" ).removeClass( "d-none" )
$( ".full-checkout" ).addClass( "active" )
$( ".payments-only" ).removeClass( "active" )

  });
$( "#payments-only" ).click(function() {
$( "#tab2" ).removeClass( "d-none" )
$( "#tab1" ).addClass( "d-none" )
$( ".full-checkout" ).removeClass( "active" )
$( ".payments-only" ).addClass( "active" )
  });  
  </script>
