{% assign lead_title = page.lead_title %}
{% assign main_title = page.main_title | default: page.title %}
{% assign description = page.description %}
{% assign checkout_v3 = page.checkout_v3 %}
{% capture max_width_class %}
    {% if page.card_overview %}
        max-width-card-overview
    {% else %}
        max-width
    {% endif %}
{% endcapture %}

{% if checkout_v3 %}
    <div class="title-header-checkout-v3">
{% else %}
    <div class="title-header">
{% endif %}
        <div class="title-header-container {{ max_width_class | strip }}">
            {% if lead_title != nil %}
                <h4>{{ lead_title }}</h4>
            {% endif %}

            <h1>{{ main_title }}</h1>

            {% assign estimated_read = page.content | read_time | plus: 0 %}
            {% if estimated_read > 0 %}
                <div class="title-header-estimated-read">
                    <i class="material-icons">schedule</i>
                    {{ estimated_read }} min read
                </div>
            {% endif %}

            {% if description %}
                <p>{{ description | markdownify }}</p>
            {% endif %}
        </div>

        {% include github.html %}
    </div>
