@import 'colors.scss';

.accordion {

    .accordion-header {
        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        &[aria-expanded="true"] {
            .show {
                display: none;
            }

            .hide {
                display: block;
            }
        }

        &:hover {
            background-color: $apricot;
        }
    }

    .accordion-body {
        padding: 0;

        table {
            border: 1px solid rgba(153, 153, 153, 0.5);
            border-radius: 0.25rem;

            th {
                font-size: 0.875rem;
            }

            tbody {
                font-size: 0.875rem;

                tr:nth-child(odd) {
                    background-color: #F9F8F6;
                }

                tr {
                    &:hover {
                        background-color: $apricot;
                        transition: .5s;
                    }
                }
            }
        }
    }
}