@import 'colors.scss';

.heading-line {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 0;
        width: 4rem;
        height: 4px;
        background-color: $yellow;
        border-radius: 0.625rem;
    }

    &.heading-line-white {
        &:after {
            background-color: $white;
        }
    }

    &.heading-line-green {
        &:after {
            background-color: $brand-success;
        }
    }

    &.heading-line-sdk {
        &:after {
            background-color: $turquoise;
        }
    }

    &.heading-line-module {
        &:after {
            background-color: $card-pink;
        }
    }

    &.heading-line-long {
        &:after {
            width: 7rem;
        }
    }

    &.heading-line-indent {
        &:after {
            left: 1.5rem;
        }
    }
}


h1>a.header-anchor,
h2>a.header-anchor,
h3>a.header-anchor,
h4>a.header-anchor,
h5>a.header-anchor,
h6>a.header-anchor {
    color: #ebf8f2;
    text-decoration: none;
}

h1:hover>a.header-anchor,
h2:hover>a.header-anchor,
h3:hover>a.header-anchor,
h4:hover>a.header-anchor,
h5:hover>a.header-anchor,
h6:hover>a.header-anchor {
    color: #8acdc3;
}

h1>a.header-anchor:hover,
h2>a.header-anchor:hover,
h3>a.header-anchor:hover,
h4>a.header-anchor:hover,
h5>a.header-anchor:hover,
h6>a.header-anchor:hover {
    color: #257886;
}

a.header-anchor::before {
    content: '#';
}
