#dg-sidebar {
    &.sidebar {
        .nav-ul {
            list-style: none;
            overflow: hidden;
            padding: 0;
            top: auto;
            position: relative;
            transition: none;
        }
    }

    .main-nav-ul {
        a {
            &.disabled {
                ~nav {
                    display: none;
                }
            }
        }

        .leaf {
            &.active {
                > a {
                    &:hover {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}
