$yellow: #fdc129;
$light-turquoise: #ebf8f2;
$apricot: #fbf2ea;
$pink: #efb7b6;
$brand-info: #4572c0;
$brand-info-light: #e8eff9;
$brand-success: #51971b;
$brand-success-light: #f2f7eb;
$turquoise: #31a3ae;
$turquoise-link: #257886;
$brown: #512b2b;
$dark-brown: #493c3b;
$medium-brown: #72605e;
$white: #fff;
$card-pink: #c5569a;
$background-gray: #ebE7E2;
$background-front-page: #fefcfa;
$code-green: #9c6;