$yellow: #FDC129;
$light-turquoise: #EBF8F2;
$apricot: #fbf2ea;
$pink: #efb7b6;
$brand-info: #4572C0;
$brand-info-light: #e8eff9;
$brand-success-light: #f2f7eb;
$turquoise: #31A3AE;
$brown: #512B2B;
$white: #FFFFFF;