---
# This front matter makes Jekyll read the file as a template.
---

/*
TODO: Implement a table element style that @extends .table and .table-striped
      so we don't have to decorate all Markdown tables.
*/

$bg: #f5f2f0;
$darkened-bg: darken($bg, 10%);

img {
    max-width: 100%;
}

p.code-header {
    display: block;
    padding: 5px 19px;
    background-color: $darkened-bg;
    color: #512b2b;
    border-bottom: 1px solid darken($bg, 30%);;
    margin-bottom: 0;
}

h1 > a.header-anchor,
h2 > a.header-anchor,
h3 > a.header-anchor,
h4 > a.header-anchor,
h5 > a.header-anchor,
h6 > a.header-anchor {
    color: #ebf8f2;
    text-decoration: none;
}

h1:hover > a.header-anchor,
h2:hover > a.header-anchor,
h3:hover > a.header-anchor,
h4:hover > a.header-anchor,
h5:hover > a.header-anchor,
h6:hover > a.header-anchor {
    color: #8acdc3;
}

h1 > a.header-anchor:hover,
h2 > a.header-anchor:hover,
h3 > a.header-anchor:hover,
h4 > a.header-anchor:hover,
h5 > a.header-anchor:hover,
h6 > a.header-anchor:hover {
    color: #257886;
}

a.header-anchor::before {
    content: '#';
}

.jumbotron {
    /* TODO: Make .jumbotron @extend .slab. */
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 1;
    min-height: 1rem;
    padding: 3rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: #ebe7e2;

    strong {
        font-weight: bold;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

a[href ^= '//']:not([href *= '{{ site.url }}']):after,
a[href ^= 'http://']:not([href *= '{{ site.url }}']):after,
a[href ^= 'https://']:not([href *= '{{ site.url }}']):after {
        content: url('../img/external-url.svg');;
    margin-left: .3rem;
    display: inline-block;
    width: .8rem;
    background-repeat: none;
    color: #257886;
}

#designguide .designguide-header .topbar-info a:after {
    content: none;
    display: inline;
}

.iterator {
    margin: 1rem 0;
}

.iterator a.btn {
    display: inline-block;
    width: 49%;
    min-width: 8rem;
}

.iterator a.btn[rel='prev']:before {
    content: '❮';
    float: left;
}

.iterator a.btn[rel='next']:before {
    content: '❯';
    float: right;
}

.documentation {
    .highlighter-rouge {
        margin-bottom: 1rem;

        code {
            padding: 0;
            background-color: none;
            border: none;
            font-size: 1rem;
        }

        pre.highlight {
            background-color: #f5f2f0;
            margin: 0;
        }

        .rouge-table {
            pre {
                font-family: 'Akkurat Mono', monospace;
            }

            .rouge-gutter {
                padding: 0 .7rem;
            }
        }
    }


    .language-mermaid {
        $apricot: #fbf2ea;
        $pink: #efb7b6;
        $brand-info-light: #e8eff9;
        $brand-success-light: #f2f7eb;
        $darker-apricot: darken($apricot, 10%);
        $black: #222;
        $brown: #2f2424;

        svg {
            width: 100% !important;
            height: 100%;
        }

        rect.actor {
            fill: $apricot !important;
            stroke: $darker-apricot !important;
        }

        .activation0,
        .activation1,
        .activation2 {
            fill: $brand-success-light !important;
            stroke: darken($brand-success-light, 10%) !important;
        }

        text.actor {
            font-family: Arial, sans-serif !important;
            font-size: 1rem !important;
        }

        .actor-line {
            stroke: $apricot !important;
            stroke-width: 4 !important;
        }

        .messageLine0 {
            stroke-width: 2 !important;
            stroke-dasharray: "2 2";
            marker-end: "url(#arrowhead)";
            stroke: $black !important;
        }

        .messageLine1 {
            stroke-width:1.5;
            stroke-dasharray: "2 2";
            stroke: $brown !important;
        }

        #arrowhead {
            fill: $brown !important;
        }

        .messageText {
            fill: $black !important;
            stroke: none;
            font-family: Arial, sans-serif !important;
            font-size: 1rem !important;
        }

        .labelBox {
            stroke: $pink !important;
            fill: $pink !important;
        }

        .labelText {
            fill: $black !important;
            stroke: none;
            font-family: Arial, sans-serif !important;
        }

        .loopText {
            fill: $black !important;
            stroke: none;
            font-family: Arial, sans-serif !important;
            font-size: 1rem !important;
        }

        .loopLine {
            stroke-width:2;
            stroke-dasharray: "2 2";
            marker-end:"url(#arrowhead)";
            stroke: $pink !important;
        }

        .note {
            stroke: darken($brand-info-light, 20%) !important;
            fill: $brand-info-light !important;
        }

        .noteText {
            fill: $black !important;
            stroke: none;
            font-family: Arial, sans-serif !important;
            font-size: 1rem !important;
        }
    }
}
