---
layout: default
---

{% assign show_merchants_bar = page.front_page.show_merchants_bar | default: false %}
{% assign front_page_title = page.front_page.title | default: 'developer portal' %}
{% assign front_page_hero1 = page.front_page.hero1 | default: "Welcome to the" %}
{% assign front_page_hero2 = page.front_page.hero2 | default: "Swedbank Pay" %}
{% assign front_page_ingress = page.front_page.ingress | default: "Our developer portal gives you the full tool box for integrating our payment instruments and getting started with easy, flexible and safe payments on your e-commerce website." %}
{% assign front_page_start_heading = page.front_page.start_heading | default: "Start your integration" %}

<div class="front-page">
    <div class="front-page-top">
        <div class="front-page-hero">
            <h3>{{ front_page_hero1 }}</h3>
            <h3>{{ front_page_hero2 }}<span class="front-page-hero-name">{</span><span class="front-page-hero-name">{{ front_page_title }}</span><span class="front-page-hero-name">}</span>
            </h3>
            <p>{{ front_page_ingress }}</p>
        </div>
        <div class="front-page-intro-cards">
            <h2 id="front-page-start" class="heading-line">{{ front_page_start_heading }}</h2>
            {% contentblock start %}
        </div>

        {% include github.html %}
    </div>


    {% if show_merchants_bar == true %}
    <div class="front-page-container">
        <div class="front-page-merchants">
            <h6>Trusted by</h6>
            <div class="merchants-container justify-content-xxl-between">
                <a class="merchant-link">
                    {% include img/merchants/logo-schibsted.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-ica.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-elkjop.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-synsam.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-coop.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-svenskaspel.svg %}
                </a>
                <a class="merchant-link">
                    {% include img/merchants/logo-skanetrafiken.svg %}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    {% include card-extended.html
        title='Get to know Checkout v3'
        no_icon=true
        button_content='Get started'
        text='All businesses have their own unique needs. Which is why we have made it possible for you to adapt to a variety of those needs, using only one integration. To help you get started we have made five implementation options to choose among. In that way you can utilize your checkin in just a few configurations, or switch into any other of our stand alone payment methods - if that suits you better. Intrigued yet? Let’s find out more!'
        button_type='primary'
        button_alignment='align-self-end'
        %}


    {% include card-extended.html
        title='Want to try it yourself?'
        no_icon=true
        button_content='Visit our Demoshop'
        text='Experience what it would be like to pay as a costumer of yours in our demoshop.'
        button_type='primary'
        button_alignment='align-self-start'
        card_container=true
        container_content='![demoshop](/assets/img/demoshop-image.svg)'
        to='https://ecom.externalintegration.payex.com/pspdemoshop'
        %}

    <div class="front-page-container">
        <div class="front-page-cards-sdk">
            {% contentblock sdks %}
        </div>

        <div class="front-page-cards-module">
            {% contentblock modules %}
        </div>

        <div class="front-page-release-notes">
            {% contentblock release_notes %}
        </div>

        <div class="front-page-cards-extra">
            {% contentblock extras %}
        </div>

        <div class="front-page-contact">
            <div class="front-page-contact-content">
                <div class="row">
                    <div class="col-xl-7">
                        <h2 id="front-page-contact" class="heading-line heading-line-long">Can't find what you are
                            looking for?</h2>
                        <p>
                            We are always trying to make the developer portal as
                            good as it can be please don’t hesitate to contact us.
                        </p>
                    </div>
                    <div class="col-xl-5 d-flex align-items-center justify-content-center">
                        <button class="btn">Contact us here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
