---
layout: default
---
<form class="search d-flex" method="get" action="{{ site.search.url | relative_url }}">
    <input name="q" type="text" id="tipue_search_input" class="form-control search-input"
        placeholder="Search in documentation" onfocus="this.placeholder=''"
        onblur="this.placeholder='Search in documentation'" pattern=".{3,}" title="At least 3 characters">
    <script>
        (function () {
            var params = new URLSearchParams(window.location.search);
            var q = params.get('q');
            if (q) {
                document.getElementById('tipue_search_input').value = q;
            }
        })();
    </script>
    <button id="search-btn" class="btn btn-primary btn-icon-lg" type="submit" aria-label="Search button">
        <i class="material-icons-outlined" aria-hidden="true">search</i>
    </button>
</form>
<p id="search-hint-text" class="hint-text mb-5">Tip: Try using quotes for more precise
    results. <code>online payments</code> will give a different result compare to <code>"online payments"</code></p>

<div id="tipue_search_content"></div>