name: Test

on: [push, pull_request]

jobs:
  variables:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.variables.outputs.branch }}
      version: ${{ steps.variables.outputs.version }}
      repository_url: ${{ steps.variables.outputs.repository_url }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: gittools/actions/gitversion/setup@v0.9.15
        with:
          versionSpec: '5.x.x'

      - id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.15

      - name: Generate variables
        id: variables
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: .github/scripts/variables.sh ${{ steps.gitversion.outputs.legacySemVerPadded }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: jekyll build
        run: bundle exec jekyll build
      - name: Upload site
        uses: actions/upload-artifact@v3
        with:
          name: build-site
          path: _site

  spec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 14
      - uses: kamiazya/setup-graphviz@v1
      - name: Cache HTMLProofer
        id: cache-htmlproofer
        uses: actions/cache@v3
        with:
          path: tmp/.htmlproofer
          key: ${{ runner.os }}-htmlproofer
      - name: Cache Jekyll
        uses: actions/cache@v3
        with:
          path: |
            .jekyll-cache
            .jekyll-metadata
          key: ${{ runner.os }}-jekyll
      - name: rspec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec rake
      - name: codecov upload
        run: bundle exec rake codecov:upload || echo 'Codecov upload failed'

  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: rubocop
        run: bundle exec rubocop --fail-level warning --display-only-fail-level-offenses

  remark-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: github-pr-review
          if_false: github-check
      - uses: reviewdog/action-remark-lint@v5.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: ${{ steps.reporter.outputs.value }}

  # deploy-dry-run:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: deploy dry-run
  #       run: |
  #         docker-compose run \
  #           jekyll deploy \
  #           --env=production \
  #           --dry-run
  #     - name: Upload deploy
  #       uses: actions/upload-artifact@v3
  #       if: always()
  #       with:
  #         name: deploy
  #         path: .
